.col-md-3
  .panel.panel-default
    .panel.panel-heading
      = link_to product.name, product_path(product)
    .panel-body
      %p
        User:
        = product.user.user_name
      %p
        Description:
        = product.description
      %p
        Price:
        = product.price
      %p
        Image:
        = product.image_url